<form method="POST" action="/messages" id="add-message-form">

    <div class="grid">
        <label for="author">Your email</label>
        <input type="email" name="author" id="author" required>
    </div>

    <div class="grid">
        <label for="message">Your message</label>
        <input type="text" id="message" name="message" required>
    </div>

    <button type="submit">Send message</button>
</form>