<tr id="product-{{product._id}}">
    <td>{{product.title}}</td>
    <td>{{product.price}}$</td>
    <td>
        <img alt="" style="object-fit: cover; height: 90px; width: 90px" src="{{product.thumbnail}}" />
    </td>
</tr>