<h2 class="center-text">Signup</h2>

<div class="grid">

    <article>
        <h3>Already have an account?</h3>
        <p>Sign in with your email and password using the link below</p>
        <a role="button" href="/login">Sing in</a>
    </article>

    <div>
        {{> signup_form }}
    </div>

</div>