<form method="POST" action="/messages" id="add-message-form">
  <label for="message">
    Your message
    <textarea type="text" id="message" name="message" required> </textarea>
  </label>
  <button type="submit">Send message</button>
</form>