<h2 class="center-text">Login</h2>

<div class="grid">

    <article>
        <h3>Is this your first time here?</h3>
        <p>For full acces to our site, you need to create an account</p>
        <a role="button" href="/signup">Create new account</a>
    </article>

    <div>
        {{> login_form }}
    </div>

</div>