<form method="POST" action="/messages" id="add-message-form">
  <div class="grid">
    <textarea id="message" name="message" aria-label="Write your message" required></textarea>
    <button type="submit">Send message</button>
  </div>
</form>