<form method="POST" action="/login" class="container">
    <label for="email">
        Email
        <input type="email" name="email" id="email" value="justin.curtis@example.com" required />
    </label>

    <label for="name">
        Name
        <input type="text" name="name" id="name" value="Justin" required />
    </label>

    <label for="avatar">
        Avatar
        <input type="url" name="avatar" id="avatar" value="https://randomuser.me/api/portraits/lego/8.jpg" required />
    </label>

    <button type="submit">Login</button>
</form>