<div class="container">
    <div class="center-text">
        <h2 class="user-title">Welcome {{ user.name }}! 👋</h2>
        <a role="button" class="button" href="/logout">Logout</a>
    </div>
</div>