<main class="container">
     <h1>Add a new product into database </h1>
     {{> add_products_form }}
</main>

<script type="module" src="./src/utils/createThumbnailInput.js"></script>
<script type="module" src="./src/utils/thumbnailValidation.js"></script>
<script type="module" src="./src/main.js" defer></script>